<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.maps.sample">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CircleDemoActivity"
            android:label="CircleDemo"
            android:exported="false" />

        <activity
            android:name=".ControlsDemoActivity"
            android:label="ControlsDemo"
            android:exported="false" />

        <activity
            android:name=".GestureDemoActivity"
            android:label="GestureDemo"
            android:exported="false" />

        <activity
            android:name=".GroundOverlayDemoActivity"
            android:label="GroundOverlayDemo"
            android:exported="false" />

        <activity
            android:name=".LiteModeDemoActivity"
            android:label="LiteModeDemo"
            android:exported="false" />

        <activity
            android:name=".MapFunctionsDemoActivity"
            android:label="MapFunctions"
            android:exported="false" />

        <activity
            android:name=".MoreLanguageDemoActivity"
            android:label="MoreLanguageDemo"
            android:exported="false" />

        <activity
            android:name=".PolygonDemoActivity"
            android:label="PolygonDemo"
            android:exported="false" />

        <activity
            android:name=".PolylineDemoActivity"
            android:label="PolylineDemo"
            android:exported="false" />

        <activity
            android:name=".LocationSourceDemoActivity"
            android:label="LocationSourceDemo"
            android:exported="false" />

        <activity
            android:name=".MarkerDemoActivity"
            android:label="MarkerDemo"
            android:exported="false" />

        <activity
            android:name=".MarkerClusteringDemoActivity"
            android:label="MarkerClusteringDemo"
            android:exported="false" />

        <activity
            android:name=".CameraDemoActivity"
            android:label="CameraDemo"
            android:exported="false" />

        <activity
            android:name=".BasicMapDemoActivity"
            android:label="BasicMapDemo"
            android:exported="false" />

        <activity
            android:name=".MapFragmentDemoActivity"
            android:label="MapFragmentDemo"
            android:exported="false" />

        <activity
            android:name=".MapViewDemoActivity"
            android:label="MapViewDemo"
            android:exported="false" />

        <activity
            android:name=".SupportMapDemoActivity"
            android:label="SupportMapDemo"
            android:exported="false" />

        <activity
            android:name=".SupportMapCodeDemoActivity"
            android:label="SupportMapCodeDemo"
            android:exported="false" />

        <activity
            android:name=".MapViewCodeDemoActivity"
            android:label="MapViewCodeDemo"
            android:exported="false" />

        <activity
            android:name=".MapFragmentCodeDemoActivity"
            android:label="MapFragmentCodeDemo"
            android:exported="false" />

        <activity
            android:name=".StyleMapDemoActivity"
            android:label="StyleMapDemo"
            android:exported="false" />

        <activity
            android:name=".EventsDemoActivity"
            android:label="EventsDemo"
            android:exported="false" />

        <activity
            android:name=".RoutePlanningDemoActivity"
            android:label="RoutePlanningDemo"
            android:exported="false" />

        <activity
            android:name=".HeatMapDemoActivity"
            android:label="HeatMapDemo"
            android:exported="false" />

        <activity
            android:name=".TrafficDemoActivity"
            android:label="TrafficDemo"
            android:exported="false" />

        <activity
            android:name=".DarkModeDemoActivity"
            android:label="DarkModeDemo"
            android:exported="false" />

        <activity
            android:name=".MyLocationStyleDemoActivity"
            android:label="MyLocationStyleDemo"
            android:exported="false" />

        <meta-data
            android:name="com.huawei.hms.client.channel.androidMarket"
            android:value="false" />

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=appid" />

    </application>

</manifest>